# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# ML files
*.pt
*.pth
*.onnx
*.h5
*.keras

# Audio/data
*.wav
*.mp3
*.flac

# Environment/secrets
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
*.pcm
